h1 {
  background-color: red;
  color: white;
  /* "color" is referring to the color of text */
}

p {
  font-size: 20px;
  font-family: 'Bellefair', serif;
}

.google-link {
  background-color: #4885ed;
  color: white;
}

.facebook-link {
  background-color: #3b5998;
  color: white;
}

.bnb-link {
  background-color: #fd5c63;
  color: white;
}

.big-fat-text {
  font-size: 30px;
  font-weight: bold;
}
